footer {
    min-height: 480px;
    background: url(../images/footer_bg.jpg) no-repeat;
    position: relative;

        .footer {
            
            @include section_header;

            &__header {
                
                width: 61%;

                    &__h2 {
                    color: #ffffff;
                    text-transform: capitalize;
                    font-family: $ff-main;
                    padding-bottom: 10px;

                            span {
                                font-family: $ff-main-bold;
                                text-transform: uppercase;
                            }
                }

                    &__p {
                    color: #ffffff;
                    font-size: 18px;
                    padding-bottom: 69px;
                }
            }

            &__button {
                font-size: 14px;
                padding: 20px 50px;
                width:26.7%;
            }
            
        &__socials-button-down, &__socials-button-up {
            border-radius: 50%;
            box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
            width: 53px;
            height: 53px;
            text-align: center;
            line-height: 53px;
            background: $main-red;
            color: #ffffff;
            position: absolute;
            right: 5%;
            bottom: 5%;

                &:hover {
                    background: lighten($main-red, 10%);
                }
        }
    }

}