.our_blog {
    background: #f4f5f9;
    border-top: 4px solid #6a6a6a;
    @include section_header;

        &__images {
            display: flex;
            flex-wrap: wrap;
            padding-top: 69px;

                    &__item {
                        width: 25%;
                            
                            &__image {
                                width: 100%;
                                margin-bottom: -4px;
                            }
                    }
        }
}