.recent-works {

        @include section_header;

        &__tags {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding-top: 68px;
            margin: auto;
            width: 50%;
            padding-bottom: 50px;

                &__item {
                    font-size: 14px;
                    font-family: $ff-main;
                    font-weight: 700!important;
                    text-transform: uppercase;
                    margin-right: 17px;
                    color: #999999;

                        &:last-child {
                                margin-right: 0;
                            }

                        &:hover {
                            color: $main-red;
                            cursor: pointer;
                        }

                        &:after {
                            margin-left: 17px;
                            content: '/';
                            color: #999999!important;
                    }


                }
        }

        &__images {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

                &__item {
                    width: 25%;
                    
                }
        }
}