$ff-main: 'open_sansregular';

$ff-main-light: 'open_sanslight';

$ff-main-itatic: 'open_sansitalic';

$ff-main-bold: 'open_sansbold';

$ff-desc: 'source_sans_proregular';

$ff-desc-bold: 'source_sans_probold';


$main-red:#e74c3c;
