<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bino homepage</title>
    <link rel="stylesheet" type="" href="css/main.min.css">
</head>
<body>

    <header>
        <div class="container header">
            <div class="header__logo">
                b<span class="header__logo__span">ino</span>
            </div>

            <nav class="header__nav">

                <div class="header__list">
                    <a href="#" class="header__item">home</a>
                    <a href="#" class="header__item">about us</a>
                    <a href="#" class="header__item">portfolio</a>
                    <a href="#" class="header__item">pricing</a>
                    <a href="#" class="header__item">team</a>
                    <a href="#" class="header__item">blog</a>
                    <a href="#" class="header__item">contact</a>
                </div>
            </nav>
        </div>
    </header>
    
</body>
</html>