<section class="case_study">

    <div class="case_study__header">
        <h2 class="case_study__header__h2">case study</h2>
        <p class="case_study__header__p">A brief story about how this process works, keep an eye till the end.</p>
        <div class="case_study__header__pseudo-circle"></div>
    </div>

    <div class="case_study__left-block">


        <img src="../../images/case_study2.jpg" alt="some pic" class="case_study__image">


        <h2 class="case_study__h2">acuumulate creative ideas</h2>


        <p class="case_study__p">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.</p>


        <button class="case_study__button buttons">read more</button>
    </div>

    <div class="case_study__right-block">
        
    </div>



</section>