<footer>

    <div class="footer__header">
        <h2 class="footer__header__h2">let's get started now. it's <span>free!</span></h2>
        <p class="footer__header__p">30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.</p>
        <button class="footer__button buttons">start free trial</button>
    </div>


    <div class="footer__socials-button-down">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>

    <div class="footer__socials-button-up">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>


    


</footer>