<section class="ourHistory">
    <div class="container">


        <div class="ourHistory__circle">
            <img src="../.,/../images/header__down_button.png" alt="Down button" class="ourHistory__circle__anchor ">
        </div>


        <div class="ourHistory__principles">

            <div class="ourHistory__principles__item">

                <div class="ourHistory__principles__item__img">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </div>

                <h3 class="ourHistory__principles__item__h3">sleek design</h3>

                <p class="ourHistory__principles__item__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat temporibus doloremque doloribus quidem nemo facere, minus.</p>

            </div>



            <div class="ourHistory__principles__item">

                <div class="ourHistory__principles__item__img">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>

                <h3 class="ourHistory__principles__item__h3">clean code</h3>

                <p class="ourHistory__principles__item__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat temporibus doloremque doloribus quidem nemo facere, minus.</p>

            </div>



            <div class="ourHistory__principles__item">

                <div class="ourHistory__principles__item__img">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>

                <h3 class="ourHistory__principles__item__h3">creative ideas</h3>

                <p class="ourHistory__principles__item__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat temporibus doloremque doloribus quidem nemo facere, minus.</p>

            </div>



            <div class="ourHistory__principles__item">

                <div class="ourHistory__principles__item__img">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>

                <h3 class="ourHistory__principles__item__h3">free support</h3>

                <p class="ourHistory__principles__item__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quaerat temporibus doloremque doloribus quidem nemo facere, minus.</p>

            </div>



        </div>


        <div class="ourHistory__description">


            <button class="ourHistory__description__button buttons"></button>


        </div>
    
    
    </div>
</section>